.hello-world {
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blueviolet;
    color: white;
    margin: auto;
    margin-top: calc(50% - 100px);
}